@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: normal;
  }
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  @apply bg-white transition-all duration-200;
}

.dark body {
  @apply bg-[#0D1117];
}
