@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: normal;
  }
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  @apply bg-white transition-all duration-200;
}

.dark body {
  @apply bg-[#0D1117];
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #393939;
}

::-webkit-scrollbar-thumb {
  background: #555555;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #585858;
}
